#outer-container {
    width: 100%;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.625;
}

#footer {
  font-size: x-small;
  color: grey;
  float: right;
  text-align: right;
  list-style: none;
}

#totalUsers {
  text-align: right;
}

a {
  color: #287fb8;
  font-size: 80%;
}

#footer {
  margin-top: -5px;
}

.commandDone {
    text-decoration: line-through;
}

.showTitle {
    font-weight: bold;
}
